@model ContactPage

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form class="forms-sample" method="post">
    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input asp-for="Location" class="form-control" >
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Mail">Mail</label>
        <input asp-for="Mail" class="form-control" >
        <span asp-validation-for="Mail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WeekTime">Week Time</label>
        <input asp-for="WeekTime" class="form-control" >
        <span asp-validation-for="WeekTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="WeekendTime">WeekEnd Time</label>
        <input asp-for="WeekendTime" class="form-control" >
        <span asp-validation-for="WeekendTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mr-2">Submit</button>
</form>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}