.forsentence{
    background-image: url(../images/landing-img-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    padding-top: 80px;
    h1{
        color: orange;
        font-size: 60px;
        letter-spacing: 2px;
    }
}