.forbetweensection2{
    background-image: url(../images/home-8-beckround-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    padding-top: 80px;
    h1{
        color: orange;
        font-size: 60px;
        letter-spacing: 2px;
    }
    h5{
        color: white;
        letter-spacing: 2px;
        font-weight: bold;
        background-color: black;
    }
}